<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <style>
        
   
    .gameItem{
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow : 5px 10px 10px #e8f5ee;
            height:100px;


        }
        .unmatched{
            background-color: red;
        }
      
    </style>
  </head>
  <body>
    <main class="container">
        <header class="row">
            <div class="col text-center">
                <h1>Pikachu Game</h1>
            </div>
        </header>
        <div id="app">
          <section class="row">
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              <div class="col-2 gameItem m-2 p1 text-center">
                <img src="" alt="" class="img-fluid">
              </div>
              
              
          </section>
          <section class="row">
            <div class="col" id="reset">
              <hr>
              <button class="btn btn-primary">Reset Game</button>
              <button class="btn btn-danger">Cancel Game</button>
            </div>
          </section>
        </div>
        <footer class="row">
            <div class="col text-center">
              <i>copyringht by &copy; AU PHUOC DAT</i>
            </div>
        </footer>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>